certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
colorzero==2.0
gpio==0.3.0
gpiozero==1.6.2
hx711==1.1.2.3
idna==2.10
numpy==1.20.3
opencv-python==4.5.2.54
paho-mqtt==1.5.1
protobuf==3.17.0
pyserial==3.5
requests==2.25.1
rpi==0.0.1
six==1.16.0
urllib3==1.26.5
w1thermsensor==2.0.0
